@import "./sass/pages/home.scss";

#card{
    box-sizing: 10vh 10vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid gray;
}
.flag{
    height: 15vh;
    width: 20vw;
}